<!DOCTYPE html>
<html>
<head>
    <!-- commonJS语法引入公共头部meta标签 -->
    <%= require('html-loader!./layout/head-common.html') %>
    <title>happymall电商平台</title>
</head>
<body>
    <!-- 引入头部导航栏 -->
    <%= require('html-loader!./layout/nav.html') %>
    <!-- 引入头部搜索栏 -->
    <%= require('html-loader!./layout/header.html') %>
    <!-- 在一个容器中引入侧边导航栏和内容区域 -->
    <div class="page-wrap w">
        <%= require('html-loader!./layout/nav-side.html') %>
        <div class="content with-nav">test</div>
    </div>
    <!-- 引入底部导航栏 -->
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>
