<!DOCTYPE html>
<html>
<head>
    <!-- commonJS语法引入公共头部meta标签 -->
    <%= require('html-loader!./layout/head-common.html') %>
    <!-- 页面标题借助htmlWebpackPlugin插件灵活获取 -->
    <title><%= htmlWebpackPlugin.options.title %> - happymall电商平台</title>
</head>
<body>
    <!-- 引入简单头部导航栏 -->
    <%= require('html-loader!./layout/nav-simple.html') %>
    <!-- 引入用户登录页面 -->
    <div class="page-wrap">
        <div class="w">
            <div class="user-con">
                <div class="user-title">用户登录</div>
                <div class="user-box">
                    <div class="error-item">
                        <i class=" fa fa-minus-circle error-icon"></i>
                        <p class="err-msg">Error</p>
                    </div>
                    <div class="user-item">
                        <label class="user-label" for="username">
                            <i class="fa fa-user"></i>
                        </label>
                        <input class="user-content" id="username" placeholder="请输入用户名" 
                        autocomplete="off">
                    </div>
                    <div class="user-item">
                        <label class="user-label" for="password">
                            <i class="fa fa-lock"></i>
                        </label>
                        <!-- 让密码加密，必须指定type为password -->
                        <input class="user-content" id="password" placeholder="请输入密码" 
                        autocomplete="off" type="password">
                    </div>
                    <a class="btn btn-submit" id="submit">登录</a>
                    <div class="link-item">
                        <a class="link" href="./user-pass-reset.html" target="_blank">忘记密码</a>
                        <a class="link" href="./user-register.html" target="_blank">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 引入底部导航栏 -->
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>
