/*
* @Author: gg
* @Date:   2018-04-14 20:26:46
* @Last Modified by:   gg
* @Last Modified time: 2018-04-14 21:15:54
*/
.nav-simple{
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}