/*
* @Author: gg
* @Date:   2018-04-11 10:14:07
* @Last Modified by:   gg
* @Last Modified time: 2018-04-12 14:02:59
*/
body{
    background-image: url(../../image/banner/banner4.jpg);
    color:green;
    font-size:30px;
}
